<router-outlet></router-outlet>

<table class="table">
        <thead class="thead-dark" id="barraCatalogo">
          <tr>
            <th scope="col">Imagen</th>
            <th scope="col">Nombre</th>
            <th scope="col">ID Video YT</th>
            <th scope="col">Url aundio MP3</th>
            <th scope="col">Mas detalles</th>
            
          </tr>
        </thead>
        <tbody>

          <tr>
            <td><img src="../../../img/fondo1.jpg" alt=""> </td>
            <th scope="row">1</th>
            <td>juan</td>
            <td>orosco</td>
            <td><a href="#" class="btn btn-primary btn-lg disabled" 
              tabindex="-1" role="button" aria-disabled="true">
              has click <br> 
              aquí</a></td>
          </tr>
          <tr>
            <td><img src="../../../img/fondo1.jpg" alt=""></td>
            <th scope="row">2 </th>
            <td>juan</td>
            <td>orosco</td>
            <td><a href="#" class="btn btn-primary btn-lg disabled" 
              tabindex="-1" role="button" aria-disabled="true">
              has click <br> 
              aquí</a></td>
          </tr>
          <tr>
            <td><img src="../../../img/fondo1.jpg" alt=""></td>
            <th scope="row">3 </th>
            <td>juan</td>
            <td>orosco</td>
            <td><a href="#" class="btn btn-primary btn-lg disabled" 
              tabindex="-1" role="button" aria-disabled="true">
              has click <br> 
              aquí</a></td>
          </tr>
          <tr>
            <td><img src="../../../img/fondo1.jpg" alt=""></td>
            <th scope="row">4 </th>
            <td>juan</td>
            <td>orosco</td>
            <td><a href="#" class="btn btn-primary btn-lg disabled" 
              tabindex="-1" role="button" aria-disabled="true">
              has click <br> 
              aquí</a></td>
          </tr>
          <tr>
            <td>aqui</td>
            <th scope="row">5 </th>
            <td>juan</td>
            <td>orosco</td>
            <td><a href="imagen" class="btn btn-primary btn-lg disabled" 
              tabindex="-1" role="button" aria-disabled="true">
              has click <br> 
              aquí</a></td>
          </tr>
          <tr>
            <td>aqui</td>
            <th scope="row">6</th>
            <td>juan</td>
            <td>orosco</td>
            <td><a href="#" class="btn btn-primary btn-lg disabled" 
              tabindex="-1" role="button" aria-disabled="true">
              has click <br> 
              aquí</a></td>
          </tr>
          <tr>
            <td>aqui</td>
            <th scope="row">7 </th>
            <td>juan</td>
            <td>orosco</td>
            <td><a href="#" class="btn btn-primary btn-lg disabled" 
              tabindex="-1" role="button" aria-disabled="true">
              has click <br> 
              aquí</a></td>
          </tr>
        </tbody>
</table>
