<form>
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre de imagen">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Descripción de imagen</label>
            <textarea class="form-control"  id="exampleFormControlTextarea1" rows="3" 
            placeholder="Ingresar descripción de imagen" ></textarea>
        </div>
        <div class="form-group">
          <label for="urlimagen">URL de la imagen</label>
          <input type="text" class="form-control" id="nombre" placeholder="Ingresar la URL de imagen">
        </div>
        <div class="form-group">
          <label for="id_videoyt">ID del video de YouTube</label>
          <input type="text" class="form-control" id="nombre" placeholder="Ingresar el ID del video de YT de la imagen">
        </div>
        <div class="form-group">
          <label for="url_audiomp3">URL de audio MP3</label>
          <input type="text" class="form-control" id="nombre" placeholder="Ingresar la URL del audio de la imagen">
        </div>
        <div class="form-group">
          <label for="creada">Fecha de creación</label>
          <input type="date" class="form-control" id="nombre" placeholder="Ingresar fecha de creación de la imagen">
        </div>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">selección de foto</label>
          </div>
        <button type="submit" class="btn btn-primary">Terminé</button>
</form>
        

